
# Ignore bundler files
.bundle
.gems
/vendor/bundle

# Local settings
config/settings.rb

# Ignore Ruby manager
.rvmrc

# Ignore working files
OLD.*
BACK.*
ORIG.*
TEST.*

# Ignore OSX files
.DS_Store

# Ignore Vim artifacts
**.swp
