
# Ignore bundler files
.bundle
.gems
/vendor/bundle

# Local settings
config/settings.rb
config/databases.yaml

# Ignore Ruby manager
.rvmrc

# Ignore databases
/db/*
!/db/migration
!/db/schema.sql

# Ignore log
/log/*
!/log/.keep

# Ignore working files
OLD.*
BACK.*
ORIG.*
TEST.*

# Ignore OSX files
.DS_Store

# Ignore Vim artifacts
**.swp
