!!! 5
%html(lang="en")
  %head
    %title Save My Pocket
    %meta(http-equiv="content-type" content="text/html; charset=utf-8")
    %link(href="https://fonts.googleapis.com/css?family=Source+Code+Pro" rel="stylesheet")
    %link(href="https://fonts.googleapis.com/css?family=Titillium+Web" rel="stylesheet")
    %link(href="https://fonts.googleapis.com/css?family=Shadows+Into+Light" rel="stylesheet")
    %link(href="https://fonts.googleapis.com/css?family=Pinyon+Script" rel="stylesheet")
    %link(href="/css/main.css" type="text/css" media="screen" rel="stylesheet")
  %body
    #wrapper
      %h1 Save My Pocket
      %h2 Because we sant to be safe
      = yield