body {
  margin: 0 40px;
}

h1 {
  font-family: 'Pinyon Script', cursive;
  font-size: 40px;
  color: #94000e;
  text-decoration: none;
  margin-top: 0;
  text-align: center;
  margin-bottom: 0;
}

h2 {
  font-family: 'Shadows Into Light', cursive;
  font-size: 28px;
  font-weight: 100;
  text-align: center;
  margin-top: 0;
  color: #2e5675;
}